.modal.fade#edit-comment{ tabindex: '-1', role: 'dialog' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title#exampleModalLabel Edit comment
        %button.close{ type: 'button', 'data-dismiss': 'modal' }
      .modal-body
      .modal-footer
        %button.btn.btn-secondary{'data-dismiss': 'modal'} Close
        %button.btn.btn-primary Save changes