%table.table.table.stripped.bordered
  %thead.bg-secondary{'data-toggle': 'collapse', 'data-target': '#collapse'}
    %tr
      %th User
      %th Take book date
      %th Return book date
  %tbody.collapse#collapse.show
    - histories.each do |history|
      %tr
        %td=history.user.email
        %td=history.take_date.to_formatted_s(:short)
        %td=history.return_date&.to_formatted_s(:short)