!!!
.container-fluid
  .row
    .col
      %h1.text-center Library
      .top-books
        %h5.text-center Top rated books
        = render 'table', books: @top_books
      .all-books
        %h5.text-center All books
        = render 'table', books: @books
      = link_to 'create book', new_book_path