%script{src: "https://kit.fontawesome.com/0b512414c4.js", crossorigin: "anonymous"}
.container-fluid
  .row
    .col.text-center
      %h4=@book.name
      %span.rating
        = draw_rating(@rating_score, @book)
      %span Likes:
      %span.likes_count=@likes_count
      = button_tag 'Take', type: 'button'
      %p=@book.description