// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rating:hover > a
  color: orange
.rating_link:hover ~ a
  color: black
.rating_link
  color: black