// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rating:hover > a
  color: orange
.rating_link, .rating_link:hover ~ a
  color: black
.taken
  background-color: orange
.not_taken
  background-color: limegreen
.nested_comment
  padding-left: 30px
  margin-top: 20px
.comment-body
  margin-top: 7px
li
  list-style-type: none
  padding: 10px
#comment_edit-text_field
  min-width: 100%

.over-under
  position: relative
  top: 1em
  display: inline-block
span.over-under > span
  display: table-row

@include media-breakpoint-only(xs)
  .book_show-title, .star-image, .take-button
    font-size: 2.7em
  .space
    .text-center
  .test
    background-color: yellow
@include media-breakpoint-only(sm)
  .book_show-title, .star-image, .take-button
    font-size: 3em
  .test
    background-color: orange

@include media-breakpoint-only(md)
  .book_show-title, .star-image, .take-button
    font-size: 2em
  .space
    .text-right
  .test
    background-color: green

@include media-breakpoint-only(lg)
  .book_show-title, .star-image, .take-button
    font-size: 2em
  .space
    .text-right
  .test
    background-color:  purple
@include media-breakpoint-only(xl)
  .book_show-title, .star-image, .take-button
    font-size: 2em
  .space
    .text-right
  .test
    background-color:  red


//@media (max-width: 600px)
//  .test
//    background-color: yellow

$enable-responsive-font-sizes: true